/* #region debug */
.debug .menu_nav {
    background-color: palegreen;
}

.debug .jambotron.container {
    background-color: palevioletred;
}

.debug .m_left {
    border: 1px solid black;
}

.debug .m_right {
    border: 1px solid black;
}

.debug .jambo_title {
    background-color: blue;
    height: 20%;
}

.debug .jambo_text {
    background-color: rgba(0, 0, 255, 0.527);
    height: 80%;
}

.debug .w_40 {
    background-color: blueviolet;
}

.debug .w_60 {
    background-color: beige;

}

.debug .business_plans {
    background-color: antiquewhite;
}

.debug .title_plan {
    height: 100px;
    border: 1px solid black;
}

.debug .business_plans .container:last-child {
    background-color: palegreen;
}

.debug .col-4 {
    background-color: aqua;
    border: 1px solid black;
}

.debug .business_plans .col-4:first-child {
    height: 600px;
}

.debug .col-12 {
    height: 150px;
    border: 1px solid black;
}

.debug .free_trial .col-12 {
    background-color: none;
    height: 150px;
    border: 1px solid black;
}

.debug .faq .col-12 {
    background-color: lightcyan;
    height: 400px;
    border: 1px solid black;
}

.debug .col-6 {
    height: 158px;
    background: yellow;
    border: 1px solid black;
}


.debug .partner_text {
    background-color: lightcyan;
    height: 300px;
    border: 1px solid black;
}

.debug .partner_img {
    background-color: lightcyan;
    height: 300px;
    border: 1px solid black;
}

.debug .partner {
    height: 400px;
}

.debug .business_dropbox .col-4 {
    height: 500px;
}



/* #endregion debug */



/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --db-lightblu: #b4d0e7;
    --db-balck: #000003;
    --db-white: #ffffff;
    --db-grey-txt: #8e8e8e;
    --db-blue: #0061ff;
    --db-green-b: #a2d39b;
    --db-bluet-b: #0093ce;
    --db-brown-b: #61082b;
    --db-red-b: #d5001f;
    --db-blu-b: #0d2481;
    --db-yellow: #ffd830;
    --db-lightblu: #b4d0e7;
    --db-greenborder: #d1e9cd;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.container {
    width: 60%;
    margin: auto;
}

.container_big {
    width: 70%;
    margin: auto;
    max-width: 1152px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w_60 {
    width: 60%;
}

.w_70 {
    width: 70%;
}

.w_30 {
    width: 30%;
}

.w_40 {
    width: 40%;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
    aspect-ratio: 1/1;
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.button_blu {
    background: var(--db-blue);
    padding: 1rem;
    border: none;
    color: var(--db-white);
}

.button_blu:active {
    background-color: rgba(120, 168, 246, 0.52);
}

img {
    max-width: 100%;
}

.button_white {
    background-color: var(--db-white);
    padding: 1rem;
    color: var(--db-balck);
    border: 1px solid black;
}

.button_white:active {
    background-color: rgba(113, 113, 113, 0.258);
}

.bp-2 {
    padding-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
}

/* #endregion common */



/* #region header */
#app_header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--db-white);
}

.m_right .button_blu {
    padding: 0.3rem 1rem;
}

.menu_nav {
    justify-content: space-between;
    padding: 1rem 2rem;
    text-align: center;
}

nav li {
    display: inline-block;
    line-height: 50px;
    padding: 0 1px;
}

/* .jambo_img {
    background-color: peru;
    width: 100%;
    height: 100%;
} */

.menu_nav a {
    color: black;
    padding: 0.5rem 1rem;
}

.menu_nav a:hover {
    border-bottom: 1px solid #000003;
}

.menu_nav img {
    margin-bottom: -0.3rem;
}


/* #endregion header */

/* #region main  */

#app_main {
    margin-top: 80px;
}

.jambotron .container_big {
    flex-direction: column;
    margin-bottom: 3rem;
}

.jambotron {
    background-color: var(--db-lightblu);
    margin-bottom: 6rem;
}

.jambotron h1 {
    font-size: 4rem;
    padding: 5rem 0rem;
}

.jambo_text {
    flex-direction: row;
}

.jambo img {
    max-width: 100%;
    margin-bottom: -10%;
}

.jambo p {
    line-height: 1.5;
    padding-right: 3rem;
}

.jambo .button_blu {
    margin: 2rem 0;
}

.jambo i {
    margin-top: 3rem;
}

.brend,
.business_dropbox,
.partner_Dropbox,
.business_plans,
.faq {
    margin-bottom: 2rem;
}

/* endjambotron */

.business_plans .row {
    justify-content: space-between;
}

.title_plan {
    margin-bottom: 3rem;

}

.title_plan h2 {
    padding: 2rem 0;
}

.type_plan {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.info_plan {
    padding: 2rem;
}

.card_plan {
    border: 1px solid black;
    height: 100%;
}

.col-4 ul {
    margin-bottom: 2rem;
}

.col-4 li {
    padding-bottom: 1.5rem;
}

li.price {
    padding-bottom: 0.5rem;
}

ul.info_top li:last-child {
    color: var(--db-grey-txt);
}

.card_plan span {
    display: block;
}

.card_plan a {
    text-decoration: underline;
}

.card_plan .button_blu {
    margin: 2rem 0;
    width: 100%;
}

.split {
    width: 20%;
    border-bottom: 1px solid gray;
    margin: 3rem 0;
}

.card_plan h4 {
    margin-bottom: 2rem;
}

.col-12 {
    margin: 2rem 0;
}

.text_left h3 {
    padding-bottom: 1.5rem;
}

.text_left h5 {
    padding-bottom: 2.5rem;
}

.business_plans .col-4 {
    padding: 1rem;
    margin: 0 -1rem;
}



/* end business_plan */


.partner:last-child {
    padding: 3rem;
}

/* end partner_dropbox */

.business_dropbox h2 {
    padding: 2rem 0;
}

.business_dropbox h3 {
    font-size: 1.5rem;
}

.business_dropbox a {
    text-decoration: underline;
    color: #0061ff;
}

/* end business_dropbox */

.brend .col-4 {
    height: 100%;
}

.brend .col-6 {
    fill: var(--db-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.brend img {
    max-width: 50%;
}

.green {
    background-color: var(--db-green-b);
    border: 1rem solid var(--db-greenborder);
}

.brown {
    background-color: var(--db-brown-b);
}

.bluet {
    background-color: var(--db-bluet-b);
}

.light_blu {
    background-color: var(--db-lightblu);
}

.blu {
    background-color: var(--db-blu-b);
}

.yellow {
    background-color: var(--db-yellow);
}

.red {
    background-color: var(--db-red-b);
}

.col-4 .designit {
    padding: 2rem;
}


.free_trial .button_white {
    border: none;
    padding: 0.8rem 2rem;
}

.designit p {
    padding-bottom: 3rem;
}

.free_trial {
    background-color: var(--db-lightblu);
    padding: 5rem 0;
}

.btn_trial {
    width: 40%;
    padding: 1rem;
}

.trial_text {
    max-width: 50%;
    color: var(--db-brown-b);
}

.free_trial .col-12 {
    justify-content: space-between;
}
/* end brand */


/* #endregion main  */

/* #region footer */
#app_footer {
    background-color: var(--db-balck);
}


.col_5 {
    width: calc(100% / 25 * 5);
    line-height: 2;
}

#app_footer h3 {
    color: var(--db-white);
}

#app_footer a {
    font-size: 0.8rem;
    color: var(--db-grey-txt);
}



/* #endregion footer */